<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>LR 8</title>
<style>
    #fade {
        position: relative;
        margin-left: 250px;
        margin-top: 10px;
    }
    #fade .to {
        display: none;
        position: absolute;
        left: 0;
    }
</style>
</head>
<body>

<span id="fade">   
    <img src="images/skoda_1 (1).jpg" width="800px"/>
    <img src="images/skoda_1 (2).jpg" width="800px" class="to" /> 
</span>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script>
    // Метод .ready() предлагает способ запуска кода JavaScript, 
    // как только объектная модель документа (DOM) страницы станет безопасной для манипулирования. 
    // Часто это подходящее время для выполнения задач, которые необходимы до того, 
    // как пользователь просматривает страницу или взаимодействует с ней, например,
    //  для добавления обработчиков событий и инициализации плагинов.
    $(document).ready(function() {
        // Назначаем обработчик события "наведение мыши" для элемента с id="fade"
        // Метод .hover() связывает обработчики событий mouseenter и mouseleave. 
        // использовать его, чтобы просто применить поведение к элементу, 
        // пока мышь находится внутри элемента.
        $('#fade').hover(
            // Функция, вызываемая при наведении мыши на элемент
            function() {

//                 $(this): Это объект jQuery, который представляет текущий элемент, 
//                 к которому применяется обработчик события. В данном случае, это элемент с id "fade".
                    // .find('img:eq(1)'): Метод find() используется для поиска потомков текущего элемента с указанным селектором (теги <img>).  
                    // eq(1) используется для выбора элемента с индексом 1 в найденном наборе изображений.
                    // .stop(true,true): Метод stop() используется для остановки всех текущих анимаций на выбранных элементах. 
                    // Параметры true,true указывают, что анимация должна быть остановлена и пропущены в очереди, 
                    // а также текущее значение анимируемого свойства должно быть установлено в конечное значение.
                    // .fadeIn(): Метод fadeIn() используется для плавного появления элемента путем увеличения
                    //  его непрозрачности. В данном случае, он применяется к выбранному изображению, чтобы оно плавно появилось.
                $(this).find('img:eq(1)').stop(true,true).fadeIn();
            },
            // Функция, вызываемая при отведении мыши от элемента
            function() {
                // .fadeOut(): Метод fadeout() используется для плавного скрытия элемента путем уменьшения
                    //  его непрозрачности.
                $(this).find('img:eq(1)').stop(true,true).fadeOut();
            }
        );
    });
</script>

</body>
</html>
